.App {
  width: 85%;
  height: 95%;
  background-color: #000000db;
  border-radius: 20px;
  padding: 10px;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;

  
}

.App:hover {
  transition: all 1s ease-in-out;
  background-color: #000000;
}
